#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heatmap-container {
    overflow-x: auto;
    font-size: 12px;
}

.heatmap-row {
    display: flex;
}

.heatmap-cell {
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heatmap-cell.header {
    font-weight: bold;
    background-color: #f3f3f3;
}